html {
    height: 100%;
}

@media (max-width: 320px) {
    .login-box {
        width: 93% !important;
        height: 55%;
    }
}

.button {
    background-color: transparent;
}

h2 {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

div {
    margin-top: 1rem !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#0a288b, #000000);
}

.decrypt-box,
.login-box {
    border: 1px solid white;
    position: absolute;
    top: 45.9%;
    left: 50%;
    width: 400px;
    padding: 40px;
    margin-left: -700px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.decrypt-box .user-box,
.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.decrypt-box {
    margin-left: 700px;
}

.decrypt-box user-box {
    background-color: transparent;
}

.dmail {
    background-color: transparent;
    border-style: solid;
    border-radius: 0%;
    border-color: transparent;
}

.dmail::-webkit-input-placeholder {
    font-size: 16px;
    stroke-width: 0.75px;
    color: white;
    line-height: 4;
    overflow: visible;
}

.login-box .user-box {
    top: -20px;
    left: 0;
    color: #003cff;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    cursor: pointer;
    letter-spacing: 4px;
}

.decrypt-box a:hover,
.login-box a:hover {
    background: #1f4de4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #1f4de4, 0 0 25px #1f4de4, 0 0 50px #1f4de4, 0 0 100px #1f4de4;
}

.decrypt-box a,
.login-box a {
    background: #1f4de4;
    color: #fff;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #1f4de4, 0 0 25px #1f4de4, 0 0 50px #1f4de4, 0 0 100px #1f4de4;
}

.decrypt-box a input,
.login-box a input {
    background-color: #1f4de4;
    color: white;
    border: 0;
    font: 24px;
    cursor: pointer;
}

.decrypt-box a span,
.login-box a span {
    position: absolute;
    display: block;
}

.decrypt-box a span:nth-child(1),
.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, transparent, #1f4de4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.decrypt-box a span:nth-child(2),
.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #1f4de4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.decrypt-box a span:nth-child(3),
.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #1f4de4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.decrypt-box a span:nth-child(4),
.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #1f4de4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

.decrypt-box {
    background: linear-gradient(transparent, rgba(10, 10, 240, 50));
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #1f4de4;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #1f4de4;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #1f4de4;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #1f4de4;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #1f4de4;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: #1f4de4;
}