body {
    background-image: url('/gui_static/BG.jpeg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
#elsst {
    font-size: 15px;
    width: 5px;
}
::-webkit-scrollbar {
    width: 10px;
}
    
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
    
    /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(55, 97, 175);
}
    
    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 17, 255);
}

.emaillist {
    background-color: rgba(255,255,255, 0.5) !important;
    border-radius: 10px;
    padding-left: 2.5rem;
    color: #fff;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

.button {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5%;
}

#cdb {
    padding-top: 20px;
}

.text-input {
    width: 200px;

}

.right-side {
    padding-right: -10px;
}
#righter-side {
    size: 100px;
    position: absolute;
    margin-left: 1200px;
    padding-top: 100px;
    padding: 24px;

}

#righter-btn {
    display: flexbox;
    justify-content: space-between;
    margin-inline: 30px;
}




